.show_item {
    padding: 5px;
    margin-top: 5px;
}

.show_item a {
    text-decoration: none;
}
.show-table {
    border: 1px solid silver;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
.show-table td, .show-table th {
    padding: 8px; /* Поля вокруг текста */
    border: 1px solid #5A5A5A; /* Рамка вокруг ячеек */
   }
   
.show-table td:first-child {
    text-align: left;
}
.show-table td {
    text-align: right;
}


.add-item {
  color:#34495e; 
  line-height: 1.2; 
  position: relative; 
  padding: 0 14px; 
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid silver;
}
.add-item:after {
  content: "";
  height: 100%;
  min-width: 4px;
  background: #34495e;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .5s;
}
.add-item:hover:after {
  min-width: 100%;
  background: #95a5a6;
  opacity: .35;
}
.add-color-form {
    border: 1px solid silver;
    padding: 5px;
}

/*Стили плагина сортировки таблиц*/
th.headerSortUp {   
    background-color: #3399FF; 
} 
th.headerSortDown { 
    background-color: #3399FF; 
} 